@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,900&display=swap');

.appBackground {
  display: flex;                /* Added */
  flex-direction: column;       /* Added */
  align-items: center;          /* Added */
  background-image: url('./images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.logo {
  width: 600px;
  height: 300px;
  margin-top: px;
  opacity: 80%;
}

.music {
  top: 10px;
  left: 10px;
}

.gameTitle {
  color: white;
  margin-top: -40px;
  font-family: 'Truculenta', sans-serif;
  font-size: 80px;
}

.playBtn {
  position: absolute;
  color: white;
  background-color: blue;
  padding: 20px 40px; /* Increase padding to make the button larger */
  font-size: 30px;    /* Increase font size */
  border-radius: 12px; /* Optional: Rounded corners */
  bottom: 130px;  /* Adjust this value to set the distance from the bottom */
  left: 50%;     /* Center the button horizontally */
  transform: translateX(-50%); /* Shift the button to the left by half its width to truly center it */
  font-family: 'Truculenta', sans-serif;
  opacity: 70%;
}

.Summary {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 30%;
  right: 65%;
  border-radius: 25px;
  font-family: 'Truculenta', sans-serif;
  font-size: 10px;
}

.ScoreBoard {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 30%;
  left: 65%;
  border-radius: 25px;
  font-family: 'Truculenta', sans-serif;
}

.title {
  color: white;
  text-align: center;
}

.scores {
  color: white;
  text-align: center;
}
