@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,900&display=swap');

.appBackground {
  display: flex;                /* Added */
  flex-direction: column;       /* Added */
  align-items: center;          /* Added */
  background-image: url('./images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.logo {
  width: 500px;
  height: 200px;
  opacity: 80%;
  position: absolute;  
  top: 0;              
  left: 45px;             
  margin: 10px;        
}

.music {
  top: 10px;
  left: 10px;
}

.gameTitle {
  color: white;
  margin-top: 50px;
  font-family: 'Truculenta', sans-serif;
  font-size: 80px;
}

.playBtn {
  position: absolute;
  color: white;
  background-color: blue;
  padding: 20px 40px; /* Increase padding to make the button larger */
  font-size: 30px;    /* Increase font size */
  border-radius: 12px; /* Optional: Rounded corners */
  bottom: 130px;  /* Adjust this value to set the distance from the bottom */
  left: 50%;     /* Center the button horizontally */
  transform: translateX(-50%); /* Shift the button to the left by half its width to truly center it */
  font-family: 'Truculenta', sans-serif;
  opacity: 70%;
}

.Summary {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 30%;
  right: 65%;
  border-radius: 25px;
  font-family: 'Truculenta', sans-serif;
  font-size: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.ScoreBoard {
  width: 500px;
  height: 870px;
  position: absolute;
  top: 30px;
  left: 65%;
  border-radius: 25px;
  font-family: 'Truculenta', sans-serif;
  font-size: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  color: #2c3e50; /* Dark blue shade */
  border-bottom: 2px solid #3498db; /* Light blue shade for the border */
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h4 {
  margin-top: 25px;
  color: #2c3e50;
  border-bottom: 1px solid #ecf0f1; /* Very light gray */
  padding-bottom: 5px;
}

p, ol {
  color: #7f8c8d; /* Gray text for better readability against a white background */
  font-size: 16px;
}

ol{
  margin-left: 25px;
}

li {
  margin-bottom: 10px;
}

th, td {
  font-size: 35px;
}

.scores {
  color: white;
  text-align: center;
}
